body {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    margin: 15px auto;
    padding: 40px;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    max-width: 650px;
    min-height: 21cm;
}

@media (max-width: 1150px) {
    body {
        margin: 15px auto;
        padding: 30px;
        max-width: 95%;
    }
}

@media (max-width: 600px) {
    body {
        margin: 10px auto;
        padding: 20px;
    }
}
